@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 42 0% 100%;
    --foreground: 42 0% 10%;
    --card: 42 0% 100%;
    --card-foreground: 42 0% 15%;
    --popover: 42 0% 100%;
    --popover-foreground: 42 95% 10%;
    --primary: 42 100% 50%;
    --primary-foreground: 0 0% 100%;
    --secondary: 42 10% 90%;
    --secondary-foreground: 0 0% 0%;
    --muted: 4 10% 95%;
    --muted-foreground: 42 0% 40%;
    --accent: 4 10% 90%;
    --accent-foreground: 42 0% 15%;
    --destructive: 0 50% 50%;
    --destructive-foreground: 42 0% 100%;
    --border: 42 20% 82%;
    --input: 42 20% 50%;
    --ring: 42 100% 50%;
    --radius: 1rem;
  }
  .dark {
    --background: 42 10% 10%;
    --foreground: 42 0% 100%;
    --card: 42 0% 10%;
    --card-foreground: 42 0% 100%;
    --popover: 42 10% 5%;
    --popover-foreground: 42 0% 100%;
    --primary: 42 100% 50%;
    --primary-foreground: 0 0% 100%;
    --secondary: 42 10% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 4 10% 25%;
    --muted-foreground: 42 0% 65%;
    --accent: 4 10% 25%;
    --accent-foreground: 42 0% 95%;
    --destructive: 0 50% 50%;
    --destructive-foreground: 42 0% 100%;
    --border: 42 20% 50%;
    --input: 42 20% 50%;
    --ring: 42 100% 50%;
    --radius: 1rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

h1 {
  display: block;
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
h2 {
  display: block;
  font-size: 1.5em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
h3 {
  display: block;
  font-size: 1.17em;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
h4 {
  display: block;
  font-size: 1em;
  margin-top: 1.33em;
  margin-bottom: 1.33em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
h5 {
  display: block;
  font-size: 0.83em;
  margin-top: 1.67em;
  margin-bottom: 1.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
h6 {
  display: block;
  font-size: 0.67em;
  margin-top: 2.33em;
  margin-bottom: 2.33em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
