@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 42 21% 95%;
    --foreground: 42 5% 10%;
    --card: 42 21% 90%;
    --card-foreground: 42 5% 15%;
    --popover: 42 21% 95%;
    --popover-foreground: 42 95% 10%;
    --primary: 42 81% 52%;
    --primary-foreground: 0 0% 100%;
    --secondary: 42 21% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 4 21% 85%;
    --muted-foreground: 42 5% 35%;
    --accent: 4 21% 80%;
    --accent-foreground: 42 5% 15%;
    --destructive: 0 50% 30%;
    --destructive-foreground: 42 5% 90%;
    --border: 42 21% 50%;
    --input: 42 21% 26%;
    --ring: 42 81% 52%;
    --radius: 1rem;
  }
  .dark {
    --background: 42 21% 10%;
    --foreground: 42 5% 90%;
    --card: 42 21% 10%;
    --card-foreground: 42 5% 90%;
    --popover: 42 21% 5%;
    --popover-foreground: 42 5% 90%;
    --primary: 42 81% 52%;
    --primary-foreground: 0 0% 100%;
    --secondary: 42 21% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 4 21% 25%;
    --muted-foreground: 42 5% 60%;
    --accent: 4 21% 25%;
    --accent-foreground: 42 5% 90%;
    --destructive: 0 50% 30%;
    --destructive-foreground: 42 5% 90%;
    --border: 42 21% 26%;
    --input: 42 21% 26%;
    --ring: 42 81% 52%;
    --radius: 1rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

h1 {
  display: block;
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
h2 {
  display: block;
  font-size: 1.5em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
h3 {
  display: block;
  font-size: 1.17em;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
h4 {
  display: block;
  font-size: 1em;
  margin-top: 1.33em;
  margin-bottom: 1.33em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
h5 {
  display: block;
  font-size: 0.83em;
  margin-top: 1.67em;
  margin-bottom: 1.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
h6 {
  display: block;
  font-size: 0.67em;
  margin-top: 2.33em;
  margin-bottom: 2.33em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
